name: install softwares
on: 
  push:
    branches:
      - main
jobs:
  run-shell-command: 
    #runs-on: ubuntu-latest
    runs-on: self-hosted
    steps:
        - run: env
        - uses: actions/checkout@v2
        - uses: hashicorp/setup-terraform@v1
        - uses: actions/setup-node@v2
          with:
            node-version: '16'
        - uses: actions/setup-java@v2
          with:
            distribution: 'microsoft'
            java-version: '11'   
        #- name: Login to DockerHub
        #  uses: docker/login-action@v1
        #  with:
        #    username: ${{ secrets.DOCKERHUB_USERNAME }}
        #    password: ${{ secrets.DOCKERHUB_TOKEN }}   
        #- name: Build and push
        #  uses: docker/build-push-action@v2
        #  with:
        #    push: true
        #    tags: abdulat/sample-app:latest
        - name: multiline script
          run: |
            terraform -v
            node -v
            java -version
            
